@model Epiworx.WebMvc.Models.FindIndexModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Advanced Find</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Advanced Find</legend>
        <label for="FindText">
            Search for</label>
        <textarea id="FindText" name="FindText"></textarea>
        <label for="FindCategory">
            Search in</label>
        <select id="FindCategory" name="FindCategory">
            <option value="Hour">Hours</option>
            <option value="Project">Projects</option>
            <option value="Story">Stories</option>
            <option value="User">Users</option>
        </select>
    </fieldset>
    <ul class="commands">
        <li>
            <button>
                Find Now</button></li>
    </ul>
}