@model Epiworx.WebMvc.Models.OrganizationFormModel
@using Epiworx.WebMvc.Helpers
<div class="part">
    <div class="wrapper">
        <div class="hgroup">
            <h3>
                Collaborators</h3>
        </div>
        <ul class="collaborators">
            @foreach (var user in Model.Users)
            {
                <li>@Html.Gravatar(user.UserEmail, user.UserName)@user.UserName@Html.ActionLink("Delete", "Delete", "OrganizationUser", new { id = user.OrganizationUserMemberId }, new { @class = "action" })</li>
            }
        </ul>
    </div>
</div>
