@model Epiworx.WebMvc.Models.OrganizationFormModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        New Organization</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    @Html.Partial("_OrganizationForm")
    @Html.Partial("_OrganizationFormCommands")
}