@model Epiworx.WebMvc.Models.NoteFormModel
@using Epiworx.WebMvc.Helpers
<fieldset>
    <legend>Note</legend>
    <label for="Body">
        Body</label>
    <textarea id="Body" name="Body">@Model.Note.Body</textarea>
 </fieldset>
