@model Epiworx.WebMvc.Models.NoteFormModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <img src="@Url.Content("~/Content/note.png")" alt="Note"/>
    <h2>
        Edit Note</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm(new { id = Model.Note.NoteId }))
{
    @Html.Partial("_NoteForm")
    @Html.Partial("_NoteFormCommands")
}