@model Epiworx.WebMvc.Models.HourIndexModel
<div class="part">
    <div class="wrapper">
        <h3>
            Years</h3>
        <ul>
            @foreach (var year in Model.Years)
            {
                <li@if (Model.Year == year) {<text> class="selected"</text>}>@Html.ActionLink(year.ToString(), "Index", "Hour", new { year }, null)</li>
            }
        </ul>
    </div>
</div>
