@model Epiworx.WebMvc.Models.TimelineFormModel
@using Epiworx.WebMvc.Helpers
<fieldset>
    <legend>Timeline</legend>
    <label for="Body">
        Body</label>
    <textarea id="Body" name="Body">@Model.Timeline.Body</textarea>
 </fieldset>
