@model Epiworx.WebMvc.ModelBase
<div id="header-find">
    @using (Html.BeginForm("Index", "Find"))
    {  
        <input type="text" id="FindText" name="FindText" value="" /><img src="@Url.Content("~/Content/Find.png")" alt="Find" id="FindButton" />
    }
</div>
<script type="text/javascript">

    $('#FindButton').click(function () {
        find();
    });

    $('#FindText').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == "13") {
            find();
        }
    });

    function find() {
        $("form:first").submit();
    }

</script>
