@model Epiworx.WebMvc.ModelBase
<div id="header-find">
    <input type="text" id="FindText" name="Terms" value="" /><img src="@Url.Content("~/Content/Find.png")" alt="Find" id="FindButton" />
</div>
<script type="text/javascript">

    $('#FindButton').click(function () {
        find();
    });

    $('#FindText').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == "13") {
            find();
        }
    });

    function find() {
        var url = @Url.Action("Index","Find")/global=true&scope=all&terms=";

        alert(url);
        location.href = url;
    }

</script>
