<div id="header">
    <div class="wrapper">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_LayoutHeaderProfile")
        }
        <h1>
            Epiworx</h1>
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_LayoutHeaderMenu")
        }
    </div>
    <div class="clear"></div>
</div>
