<%@ CodeTemplate 
    Language="C#" 
    TargetLanguage="C#" 
    Src="../TemplateBase.cs" 
	Inherits="CodeSmith.Csla.TemplateBase" 
    Debug="False" 
    CompilerVersion="v3.5" 
	Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
using System;
using System.Collections.Generic;

namespace <%= NamespaceName %>.Data
{
    [Serializable]
    public class <%= ClassName %>Data
    {
		<% foreach (var column in SourceTable.Columns) { %>
		public <%= ToDataType(column) %> <%= column.Name %> { get; set; }
            <% if (column.Name == "CreatedBy" || column.Name == "ModifiedBy") { %>
        public UserData <%= column.Name %>User { get; set; }
            <% } %>
 		<% } %>

        public <%= ClassName %>Data()
        {
		<% foreach (var column in SourceTable.Columns) { %>
		    this.<%= column.Name %> = <%= ToDefaultValue(column) %>;
            <% if (column.Name == "CreatedBy" || column.Name == "ModifiedBy") { %>
            this.<%= column.Name %>User = new UserData();
            <% } %>
 		<% } %>
        }
    }
}
