@model Epiworx.WebMvc.Models.UserListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Users</h2>
</div>
<table>
    <thead>
        <tr>
            <th class="first last">
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        { 
            <tr>
                <td class="first last">@Html.ActionLink(user.Name, "Details", new { id = user.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
