.action
{
    font-size: 12px;
    margin-left: 5px;
}

.bullet-graph
{
    margin-bottom: 20px;
}

.bullet-graph a
{
    float: right;
}

.bullet-graph h4
{
    margin-bottom: 5px;
}

.bullet-graph span
{
}

.clip
{
    height: 16px;
    overflow: hidden;
    margin-right: 20px;
}

.clear
{
    display: block;
    clear: both;
}

.center
{
    text-align: center;
}

.collaborators
{
}

.collaborators span
{
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    background-color: #E8E8E8;
    margin-left: 5px;
}

.commands
{
}

.commands a
{
    font-size: 16px;
}

.commands li
{
    display: inline;
}

.confirmation
{
    font-size: 16px;
    margin-bottom: 20px;
}

.developer.note
{
    border: 1px solid #FFFF66;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFFFCC;
    line-height: 150%;
    box-shadow: 5px 5px 5px #CCC;
}

.feed
{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    min-height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E8E8E8;
}

.feed h1
{
    font-size: 16px;
    margin-bottom: 5px;    
}

.feed .action
{
    text-transform: lowercase;
    padding: 2px 5px 2px 5px;
    background-color: #E8E8E8;
    margin: 0px;
    font-size: 16px;
}

.feed .date
{
    color: #808080;
}

.feed .source
{
    margin: 0px;
}

.feed .type
{
    margin: 0px;
    text-transform: lowercase;
}

.feed img
{
    border: 1px solid #CCCCCC;
    float: left;
    width: 32px;
    height: 32px;
    margin: 10px 10px 0px 0px;
    padding: 2px;
}

.feed p
{
    padding: 10px 0px 0px 60px;
    font-weight: normal;
}

.feed p strong
{
    display: block;
    padding-bottom: 5px;
}

.filter
{
    padding: 10px;
    background-color: #E8E8E8;
    margin-bottom: 20px;
}

.filter li
{
    display: inline;
    margin-right: 5px;
    font-size: 14px;
}

.filter li.selected
{
    font-weight: bold;
}

.filter li.selected a
{
    color: #000;
}

.hours
{
}

.hours a
{
    float: right;
}

.hours strong
{
    margin-right: 5px;
}

.hgroup
{
    margin-bottom: 20px;
}

.hgroup h2
{
    margin-bottom: 5px;
}

.hgroup p
{
    color: #808080;
}

.part
{
    margin-bottom: 40px;
}

.part h3
{
    margin-bottom: 10px;
}

.part h4
{
    margin-bottom: 10px;
}

.part ul
{
    margin-bottom: 20px;
}

.part li
{
    margin-bottom: 10px;
}

.part li .action
{
}

.part .filter.block
{
    background-color: inherit;
    padding: 0px;
}

.part .filter.block li
{ 
    display: block;
}

.primary
{
    font-size: 24px;
}

.attachments
{
    display: block;
}

.notes
{
    font-size: 18px;
}

.notes .date
{
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #808080;
}

.notes a
{
    float: right;
    font-size: 14px;
    margin-left: 10px;
}

.notes em
{
    font-style: normal;
    color: #000000;
    font-weight: bold;
}

.notes li
{
    margin-bottom: 10px;
}

.notes .attachments a
{
    float: none;
    display: inline;
    margin: 0px 5px 0px 0px;
}

.notes .attachments li
{
    display: inline;
}

ul.stories
{
    font-size: 18px;
}

ul.stories em
{
    font-style: normal;
    color: #000000;
    font-weight: bold;
}

ul.stories li
{
    margin-bottom: 10px;
}

ul.stories li a
{
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
}

ul.stories strong
{
    float: left;
    color: #808080;
    font-weight: normal;
    margin-right: 10px;
    height: 40px;
    width: 55px;
}

ul.stories .assignment
{
    float: right;
    font-size: 14px;
}

ul.stories .date
{
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #808080;
}

.validation-summary-errors
{
    color: #CC0000;
    margin-bottom: 20px;
}

.validation-summary-errors span
{
    font-weight: bold;
}

.validation-summary-errors ul
{
    padding-top: 10px;
}

.validation-summary-errors li
{
    margin-bottom: 10px;
}

.wrapper
{
    display: block;
    clear: both;
}

#find
{
}

#find input[type="text"]
{
    font-size: 18px;
    width: 600px;
}

#find .scope
{
    margin-bottom: 20px;
}

#find .result
{
    margin-bottom: 20px;
}

#find .result h1
{
    font-size: 24px;
    margin-bottom: 5px;
}

#find .result h1 .type
{
    padding: 5px;
    background-color: #000;
    font-size: 14px;
    color: #FFF;
    width: 60px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

#find .result .description
{
    margin-bottom: 5px;
}

#find .result .date
{
    color: #808080;
}

#find .no-results
{
}

#find .no-results p
{
    margin-bottom: 10px;
}

#find .no-results ul
{
    list-style-type: inherit;
}

#find .no-results li
{
    margin-bottom: 10px;
    margin-left: 30px;
}

#header
{
    padding: 20px 20px 20px 20px;
}

#header h1
{
    font-size: 16px;
    text-transform: lowercase;
}

#header-profile
{
    float: right;
}

#header-profile li
{
    display: inline;
}

#header-menu
{
    padding: 0px 20px 20px 20px;
}

#header-menu li
{
    display: inline;
}

#header-menu a
{
    float: left;
    display: block;
    font-size: 24px;
    margin-right: 20px;
}

#header-find
{
    float: right;
}

#header-find a
{
    font-size: 14px;
    float: left;
    margin: 10px 10px 0px 0px;
}

#header-find input[type="text"]
{
    width: 290px;
    float: left;
}

#header-find img
{
    position: absolute;
    margin-top: 10px;
    margin-left: -24px;
}

#main
{
    padding: 0px 20px 0px 20px;
}

#main h3
{
    margin-bottom: 20px;
}

#content
{
    margin-right: 340px;
}

#aside
{
    width: 300px;
    float: right;
}

#footer
{
    padding: 40px 20px 20px 20px;
}

a
{
    color: #CC0000;
}

a.big
{
    font-size: 24px;
}

a:hover
{
    color: #000;
}

body
{
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
}

button
{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

input, button
{
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
}

input[type="text"], input[type="password"]
{
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
}

input[type="text"].big, input[type="password"].big
{
    font-size: 24px;
}

input[type="text"].number, input[type="text"].date
{
    width: 150px;
}

select
{
    padding: 5px;
    width: 312px;
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
    margin-bottom: 10px;
}

select.big
{
    font-size: 24px;
}

textarea
{
    padding: 5px;
    height: 100px;
    width: 300px;
    margin-bottom: 10px;
    font-family: 'Times New Roman' , Times, serif;
}

fieldset
{
    margin-bottom: 20px;
}

fieldset label
{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

fieldset p
{
    padding-bottom: 20px;
}

label
{
    font-weight: bold;
}

legend
{
    display: none;
}

table
{
    width: 100%;
}

table.projects .clip
{
    padding-top: 5px;
}

tr
{
}

th, td
{
    padding: 10px 0px 10px 0px;
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
}

th
{
    border-bottom-width: 3px;
}

th.number, td.number
{
    width: 100px;
    text-align: right;
}

td a
{
    font-weight: bold;
}

td .description
{
    padding-top: 5px;
}

td .note
{
}

td .note p
{
    line-height: 150%;
}

td .note img
{
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

td .note strong
{
    margin-right: 5px;
}

td .note span
{
    color: #808080;
}

tfoot
{
    font-weight: bold;
}