.clear
{
    display: block;
    clear: both;
}

.commands
{
}

.commands li
{
    display: inline;
}

.hgroup
{
    margin-bottom: 20px;
}

.hgroup h2
{
    margin-bottom: 5px;
}

.hgroup p
{
    color: #808080;
}

.part
{
    margin-bottom: 40px;
}

.validation-summary-errors
{
    color: #CC0000;
    margin-bottom: 20px;
}

.validation-summary-errors span
{
    font-weight: bold;
}

.validation-summary-errors ul
{
    padding-top: 10px;
}

.validation-summary-errors li
{
    margin-bottom: 10px;
}

.wrapper
{
    display: block;
    clear: both;
}

#header
{
    padding: 20px 20px 20px 20px;
}

#header h1
{
    font-size: 16px;
    text-transform: lowercase;
}

#header-profile
{
    float: right;
}

#header-profile li
{
    display: inline;
}

#header-menu
{
    padding: 0px 20px 20px 20px;
}

#header-menu li
{
    display: inline;
}

#header-menu a
{
    float: left;
    display: block;
    font-size: 24px;
    margin-right: 20px;
}

#main
{
    padding: 0px 20px 0px 20px;
}

#content
{
    margin-right: 320px;
}

#aside
{
    width: 300px;
    float: right;
}

#footer
{
    padding: 40px 20px 20px 20px;
}

a
{
    color: #CC0000;
}

a:hover
{
    color: #000;
}

body
{
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
}

button
{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

input, button
{
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
}

input[type="text"], input[type="password"]
{
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
}

input[type="text"].big, input[type="password"].big
{
    font-size: 24px;
}

fieldset
{
    margin-bottom: 20px;
}

fieldset label
{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

label
{
    font-weight: bold;
}

legend
{
    display: none;
}