@model Epiworx.WebMvc.Models.ProjectFormModel
<div class="part">
    <div class="wrapper">
        <h3>
            Statuses</h3>
        <ul>
            @foreach (var status in Model.Statuses)
            {
                <li>@Html.ActionLink(status.Name, "Edit", "Status", new { id = status.StatusId }, null)</li>
            }
        </ul>
    </div>
</div>
