@model Epiworx.WebMvc.Models.ProjectFormModel
<div class="part">
    <div class="wrapper">
        <h3>
            Sprints</h3>
        <ul>
            @foreach (var sprint in Model.Sprints)
            {
                <li>@Html.ActionLink(sprint.Name, "Details", "Sprint", new { id = sprint.SprintId }, null)</li>
            }
        </ul>
    </div>
</div>
