@model Epiworx.WebMvc.Models.ProjectFormModel
<div class="part">
    <div class="wrapper">
        <h3>
            Collaborators</h3>
        <ul class="collaborators">
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName @Html.ActionLink("Delete", "Delete", "ProjectUser", new { id = user.ProjectUserMemberId }, null)</li>
            }
        </ul>
        @Html.ActionLink("Add a new collaborator", "Create", "ProjectUser", new { projectId = Model.Project.ProjectId }, null)
    </div>
</div>
