@model Epiworx.WebMvc.Models.ProjectFormModel
<div class="part">
    <div class="wrapper">
        <div class="hgroup">
            <img src="@Url.Content("~/Content/user.png")" alt="User"/>
            <h3>
                Collaborators</h3>
        </div>
        <ul class="collaborators">
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName@Html.ActionLink("Delete", "Delete", "ProjectUser", new { id = user.ProjectUserMemberId }, new { @class = "action" })</li>
            }
        </ul>
    </div>
</div>
