@model Epiworx.WebMvc.Models.ProjectFormModel
@using Epiworx.WebMvc.Helpers
<fieldset>
    <legend>Project</legend>
    <label for="Name">
        Name</label>
    <input type="text" id="Name" name="Name" value="@Model.Project.Name" class="big" />
    <label for="Description">
        Description</label>
    <input type="text" id="Description" name="Description" value="@Model.Project.Description" />
    <label for="IsActive">
        <input type="checkbox" id="IsActive" name="IsActive" @Html.ToChecked(Model.Project.IsActive)/>This
        project is active</label>
    <label for="IsArchived">
        <input type="checkbox" id="IsArchived" name="IsArchived" @Html.ToChecked(Model.Project.IsArchived)/>This
        project is archived</label>
</fieldset>