@model Epiworx.WebMvc.Models.ProjectFormModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <img src="@Url.Content("~/Content/project.png")" alt="Project" />
    <h2>
        New Project</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    @Html.Partial("_ProjectForm")
    @Html.Partial("_ProjectFormCommands")
}