@model Epiworx.WebMvc.Models.WeekListModel
<div class="part">
    <div class="wrapper">
        <h3>
            Years</h3>
        <ul>
            @foreach (var year in Model.Years)
            {
                <li>@Html.ActionLink(year.ToString(), "Index", "Year", new { year }, null)</li>
            }
        </ul>
    </div>
</div>
