@model Epiworx.WebMvc.Models.WeekCreateModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        New Week</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    @Html.Partial("_WeekCreate")
    @Html.Partial("_WeekCreateCommands")
}