<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SecurityConnection" connectionString="metadata=res://*/Application.csdl|res://*/Application.ssdl|res://*/Application.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=epiworx;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationConnection" connectionString="metadata=res://*/Application.csdl|res://*/Application.ssdl|res://*/Application.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=epiworx;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityEntities" connectionString="metadata=res://*/Data.Security.csdl|res://*/Data.Security.ssdl|res://*/Data.Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=epiworx;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DataFactoryManagerType" value="Epiworx.Data.Mock.DataFactoryManager,Epiworx.Data.Mock" />-->
    <add key="DataFactoryManagerType" value="Epiworx.Data.EntityFramework.DataFactoryManager,Epiworx.Data.EntityFramework" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>