@model Epiworx.WebMvc.Models.HomeIndexModel
@using Epiworx.WebMvc.Helpers
<div class="part">
    <div class="wrapper">
        <div class="hgroup">
            <img src="@Url.Content("~/Content/calendar.png")" />
            <h3>
                Your Hours for Last 8 Weeks</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th class="number">
                        Hours
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hourSummaryByDate in Model.HoursForTrailingWeeks)
                { 
                    <tr>
                        <td>@hourSummaryByDate.StartDate.ToString("MMM d")
                        </td>
                        <td class="number">@Html.ActionLink(hourSummaryByDate.Duration.ToString("F2"), "Index", "Hour", new { userId = Model.User.UserId, dateFrom = hourSummaryByDate.StartDate.ToShortDateString(), dateTo = hourSummaryByDate.EndDate.ToShortDateString() }, null)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        Total
                    </td>
                    <td class="number">@Model.HoursForTrailingWeeks.Sum(hourSummaryByDate => hourSummaryByDate.Duration).ToString("F2")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
