@model Epiworx.WebMvc.Models.StoryIndexModel
<div class="part">
    <div class="wrapper">
        <h3>
            Filters</h3>
        <h4>
            Statuses</h4>
        <ul class="filter block" data-filter="status-name">
            @foreach (var statusName in Model.Stories.Select(row => row.StatusName).Distinct().OrderBy(row => row))
            {
                <li data-filter-value="@statusName"><a href="">@statusName</a></li>
            }
        </ul>
        <h4>
            Assignments</h4>
        <ul class="filter block" data-filter="assigned-to-name">
            @foreach (var assignedToName in Model.Stories.Select(row => row.AssignedToName).Distinct().OrderBy(row => row))
            {
                <li data-filter-value="@assignedToName"><a href="">@assignedToName</a></li>
            }
            <li data-filter-value=""><a href="">No one</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">

    $(".filter a").click(function (e) {
        e.preventDefault();
        $(".filter li").removeClass("selected");
        $(this).parent("li").addClass("selected");
        $("table.stories tbody tr").hide();
        var filter = $(this).parent("li").parent("ul").data("filter");
        var filterValue = $(this).parent("li").data("filter-value");
        $("table.stories tbody tr[data-" + filter + "='" + filterValue + "']").show();
        $("table.stories tbody .group-header").show();
        $("table.stories tbody .group-footer").show();
    });

</script>