@model Epiworx.WebMvc.Models.StoryFormModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <img src="@Url.Content("~/Content/story.png")" alt="Story" />
    <h2>
        New Story</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm(new { projectId = Model.Story.ProjectId }))
{
    @Html.Partial("_StoryForm")
    @Html.Partial("_StoryFormCommands")
}