<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFactoryManagerType" value="Epiworx.Data.Mock.DataFactoryManager,Epiworx.Data.Mock" />
    <!--<add key="DataFactoryManagerType" value="DataAccess.SqlCe.DalManager,DataAccess.SqlCe" />-->
    <!--<add key="DataFactoryManagerType" value="DataAccess.SqlEf.DalManager,DataAccess.SqlEf" />-->
    <add key="SampleDataFolder" value="C:\code\epiworx-csla\sample\"/>
  </appSettings>
</configuration>