<div class="hgroup">
    <h2>
        Registration complete!</h2>
    <p>
        You have successfully registered for Epiworx! You can get to work now, you just need to @Html.ActionLink("login to Epiworx", "LogOn", "Account")!</p>
</div>
