@model Epiworx.WebMvc.Models.AttachmentFormModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        New Attachment</h2>
</div>
@Html.ValidationSummary(false, "Oh snap! Looks like we ran into some trouble. Please correct the errors and try again.")
@using (Html.BeginForm("Edit", "NoteAttachment", new { id = Model.Attachment.AttachmentId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_NoteAttachmentForm")
    @Html.Partial("_NoteAttachmentFormCommands")
}