@model Epiworx.WebMvc.Models.SprintFormModel
<div class="part">
    <div class="wrapper">
        <h3>
            Collaborators</h3>
        <ul class="collaborators">
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName</li>
            }
        </ul>
    </div>
</div>
