@model Epiworx.WebMvc.Models.SprintFormModel
<div class="part">
    <div class="wrapper">
         <div class="hgroup">
            <h3>
                Collaborators</h3>
        </div>
        <ul class="collaborators">
            @foreach (var user in Model.Users)
            {
                <li>@user.UserName</li>
            }
        </ul>
    </div>
</div>
