@model Epiworx.WebMvc.Models.SprintFormModel
<div class="part">
    <div class="wrapper">
        <div class="hgroup">
            <h3>
                Statuses</h3>
        </div>
        <ul>
            @foreach (var status in Model.Statuses)
            {
                <li>@status.Name</li>
            }
        </ul>
    </div>
</div>
